.ent-container{
width: 100vw;
display: flex;
}

.q1{
	color: white;
  padding: 30px;
  flex: 1;
  }

  .q1 h1{
  	font-weight: 600;
  	font-size: 1.5rem;
  }

  @media only screen and (max-width: 600px) {

  	.ent-container{
  		flex-direction: column;
  	}
  }


@media only screen and (min-width: 600px) and (max-width: 768px) {
.ent-container{
      flex-direction: column;
    }

    .q1{
      padding-left: 80px;
      padding-right: 80px;
    }

}

@media only screen and (min-width: 769px) and (max-width: 992px) {
  /* CSS rules for large screens */
.ent-container{
      flex-direction: column;
    }

    .q1{
      padding-left: 80px;
      padding-right: 80px;
    }
  }