.ent-container{
width: 100vw;
display: flex;
}

.q1{
	color: white;
  padding: 30px;
  flex: 1;
  }

  .q1 h1{
  	font-weight: 600;
  	font-size: 1.5rem;
  }

  @media only screen and (max-width: 830px) {

  	.ent-container{
  		flex-direction: column;
  	}
  }
